%p#notice= notice

%p
  %b Typeof:
  = @organisation.typeof
%p
  %b Name:
  = @organisation.name
%p
  %b Body:
  :markdown
    #{@organisation.body}

= link_to 'Edit', edit_organisation_path(@organisation)
\|
= link_to 'Back', organisations_path
