%p#notice= notice

%p
  %b Name:
  = @group.name
%p
  %b Facult:
  = get_facult(@group.facult_id).name



%h1
  Расписание занятий

%table.table.table-striped.table-hover
  %thead
    %tr
      - %w( № пн вт ср чт пт сб).each do |day|
        %td
          = day
  %tbody
    - %w(1 2 3 4 5 6 ).each do |number|
      %tr
        %td
          = number
        -(1 .. 6).each do |day_of_week|
          %td
            -#= TODO: вывод поиска не правильный
            -#= raise 'debug'
            = @group.subjects.find_by("day", day_of_week).name
            = day_of_week




= link_to 'Edit', edit_group_path(@group)
\|
= link_to 'Back', groups_path
