%h1 Listing facults

%table
  %tr
    %th Name
    %th Logo
    %th Info
    %th
    %th

  - @facults.each do |facult|
    %tr
      %td=link_to facult.name, facult
      %td= image_tag facult.logo
      %td= facult.info
      %td= link_to 'Edit', edit_facult_path(facult)
      %td= link_to 'Destroy', facult, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Facult', new_facult_path
