= simple_form_for(@annonce, html: {multipart: true} ) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :date
    = f.input :body
    = f.input :notification
    = f.file_field :image

  .form-actions
    = f.button :submit
