%p#notice= notice

%p
  %b Title:
  = @annonce.title
%p
  %b Date:
  = @annonce.date
%p
  %b Body:
  = @annonce.body
%p
  %b Notification:
  = @annonce.notification

= link_to 'Edit', edit_annonce_path(@annonce)
\|
= link_to 'Back', annonces_path
