.navbar
  .navbar-inner
    = link_to "Главная", root_path, class: "brand"
    %ul.nav

      %li{:class => "#{'active' if current_page?(annonces_path)}"}
        = link_to "Анонс", annonces_path

      %li{:class => "#{'active' if current_page?(pages_path)}"}
        = link_to "Страницы", pages_path

      %li{:class => "#{'active' if current_page?(organisations_path)}"}
        = link_to "Организации", organisations_path

      %li{:class => "#{'active' if current_page?(students_path)}"}
        = link_to "Студент", students_path

      %li{:class => "#{'active' if current_page?(abiturients_path)}"}
        = link_to "Абитуриент", abiturients_path

      %li{:class => "#{'active' if current_page?(news_items_path)}"}
        = link_to "Новости", news_items_path

      %li{:class => "#{'active' if current_page?(facults_path)}"}
        = link_to "Факультеты", facults_path

      %li{:class => "#{'active' if current_page?(groups_path)}"}
        = link_to "Группы", groups_path

      %li{:class => "#{'active' if current_page?(subjects_path)}"}
        = link_to "Предметы", subjects_path

      %li{:class => "#{'active' if current_page?(phones_path)}"}
        = link_to "Телефоны", phones_path

      %li{:class => "#{'active' if current_page?(addresses_path)}"}
        = link_to "Адреса", addresses_path
